<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>academia</title>
</head>

<body>
  <header class="container" id="SITE_HEADER">
    <img src="https://static.wixstatic.com/media/1bc069_d5b6b299d3b6448b83056145e66e1688%7Emv2.jpg_srz_178_178_85_22_0.50_1.20_0.00_jpg_srz" alt="" itemprop="contentURL" width="178" height="178"/>

    <div class="Text">
      <h1 class="font_0" style="line-height:0.9em; text-align:center"><span style="text-decoration:underline"><a href="http://mo2eloimendes.wixsite.com/academia" target="_self">MO2 ACADEMIA</a></span></h1>
      <h1 class="font_0" style="font-size:46px; line-height:0.9em">&#xa0;</h1>
      <h1 class="font_0" style="font-size:46px; line-height:0.9em; text-align:center"><span style="font-size:46px"><a href="http://mo2eloimendes.wixsite.com/academia" target="_self">UM NOVO CONCEITO EM TREINAMENTO!&#xa0;</a></span></h1>
    </div>

    <nav>
      <ul class="menu">
        <li class="menuItem">
          <a id="plvyl" href="http://mo2eloimendes.wixsite.com/academia" target="_self" title="INICIO" class="menuItemHref">INICIO</a>
        </li>
        <li class="menuItem">
          <a id="plk1s" href="http://mo2eloimendes.wixsite.com/academia/sobre" target="_self" title="SOBRE" class="menuItemHref">SOBRE</a>
        </li>
        <li class="menuItem">
          <a id="dataItem-ip1y3w8d1" href="http://mo2eloimendes.wixsite.com/academia/aulas" target="_self" title="AULAS" class="menuItemHref">AULAS</a>
        </li>
        <li class="menuItem">
          <a id="dataItem-ip27upe0" href="http://mo2eloimendes.wixsite.com/academia/galeria-mo2" target="_self" title="GALERIA MO2"
            class="menuItemHref">GALERIA MO2</a>
        </li>
        <li class="menuItem">
          <a id="plglj" href="http://mo2eloimendes.wixsite.com/academia/contato" target="_self" title="CONTATO" class="menuItemHref">CONTATO</a>
        </li>
      </ul>
    </nav>

  </header>
  <section class="page" id="crls">
    <div id="WPht3-lse" itemscope itemtype="http://schema.org/ImageObject" class="image">

      <img src="https://static.wixstatic.com/media/1bc069_d5b6b299d3b6448b83056145e66e1688%7Emv2.jpg_srz_620_452_85_22_0.50_1.20_0.00_jpg_srz"
        alt="" title="mo2 logo.jpg" itemprop="contentURL" width="620" height="452" />


    </div>

    <div class="container" id="Cntnr1-afs">
      <div id="WRchTxt5-3vj" class="Text">
        <h3 class="font_3" style="line-height:1.1em"><span>COMECE AGORA&#xa0;E ENTRE EM FORMA!&#xa0;</span></h3>

      </div>


      <span id="FvGrdLnc-cx">
    <!-- placeholder for component of data type=None -->
</span>
      <div id="WRchTxt6-1dsy" class="Text">
        <p class="font_8" style="line-height:1.4em"><span>Comece hoje mesmo seu treinamento com nossos experientes professores e entre em forma!</span></p>

        <p class="font_8" style="line-height:1.4em"><span><span class="wixGuard">​</span></span>
        </p>

      </div>


    </div>

    <div class="container" id="comp-ip1tmd4y">
      <div id="comp-ip1tmd5j" class="Text">
        <h4 class="font_4" style="font-size: 22px; line-height: 1.2em;"><span style="font-size:22px">Achou que entrar em forma com saúde sairia caro?está muito enganado! ligue agora e converse com nossos funcionários para saber sobre essa super promoção!!&#xa0;</span></h4>

      </div>


      <a id="comp-ip1tw91j" href="http://mo2eloimendes.wixsite.com/academia/contato" target="_self" class="Button">Entre em contato</a>

    </div>

    <div id="comp-ip1tl3ph" itemscope itemtype="http://schema.org/ImageObject" class="image">

      <img src="https://static.wixstatic.com/media/1bc069_b8e2ec29e4a8400795bdb166aca208ea%7Emv2.jpg_srz_476_475_85_22_0.50_1.20_0.00_jpg_srz"
        alt="" title="" itemprop="contentURL" width="476" height="475" />


    </div>

    <div class="container" id="Cntnr1-rje">
      <div id="WRchTxt4-kpg" class="Text">
        <h4 class="font_4" style="line-height:1.2em; text-align:center"><span>ACELERE O TREINO COM NOSSAS AULAS!</span></h4>

        <p class="font_8" style="line-height:1.4em"><span>Entre em forma ainda mais rápido e melhore sua saúde e bem-estar com nossas diversas aulas!</span></p>

      </div>


      <a id="comp-ip1tw743" href="http://mo2eloimendes.wixsite.com/academia/aulas" target="_self" class="Button">Leia Mais</a>

      <div id="WPht0-143z" itemscope itemtype="http://schema.org/ImageObject" class="image">

        <img src="https://static.wixstatic.com/media/1bc069_0ca7230bad284690bb0da984a7ec1f32%7Emv2.jpg_srz_441_185_85_22_0.50_1.20_0.00_jpg_srz"
          alt="" title="images.jpg" itemprop="contentURL" width="441" height="185" />


      </div>

    </div>

    <section class="container" id="comp-ip31xoi5">
      <div class="container" id="Cntnr0-1dap">
        <div id="WRchTxt1x-fx0" class="Text">
          <h4 class="font_4" style="line-height:1em"><span style="color:#4945F7;">Super diferencial!</span></h4>

        </div>


      </div>

      <div id="WPht0-1awa" itemscope itemtype="http://schema.org/ImageObject" class="image">

        <img src="https://static.wixstatic.com/media/1bc069_e344969e5c244ae38556d9f3f453c9ad%7Emv2.jpg_srz_448_272_85_22_0.50_1.20_0.00_jpg_srz"
          alt="" title="12439249_1666830050258388_3671079227783755081_n.jpg" itemprop="contentURL" width="448" height="272"
        />


      </div>

      <div class="container" id="Cntnr1-1b8">
        <section class="container" id="comp-ip29e477">
          <div id="WRchTxt16-18t" class="Text">
            <h6 class="font_6" style="line-height:1.4em"><span style="font-weight:bold"><span><span style="font-style:italic">Os Alunos matriculados em uma de nossas academias podem&#xa0;adquirir um cartão para ter o acesso nas duas, é isso mesmo, sem pagar nada a&#xa0;mais em sua mensalidade!</span></span>
              </span>
            </h6>

          </div>


          <div id="comp-ip1uan05" class="Text">
            <h4 class="font_4" style="font-size: 35px;"><span style="font-size:35px;">Ligue agora e saiba mais</span></h4>

          </div>


        </section>

        <div id="WPht3-7sj" itemscope itemtype="http://schema.org/ImageObject" class="image">

          <a href="http://mo2eloimendes.wixsite.com/academia/contato" target="_self">
            <img src="https://static.wixstatic.com/media/56292f_b883e51fbaeb4e5db7de588cddd55d55.gif_srz_35_84_85_22_0.50_1.20_0.00_gif_srz" alt="" title="" itemprop="contentURL"
                     width="35" height="84"
                />
        </a>


        </div>

      </div>

    </section>

    <div class="container" id="Cntnr2-148k">
      <div id="WRchTxt1-x8k" class="Text">
        <h4 class="font_4" style="line-height:1em"><span>Assista nossos treinos!</span></h4>

      </div>


    </div>

    <div id="Vd2-1c0t">
      <iframe src="//player.vimeo.com/video/170047598" width="512" height="308" frameborder="0"></iframe>
    </div>

  </section>
  <footer class="container" id="SITE_FOOTER">
    <div class="container" id="Cntnr2-ztr">
      <ul id="LnkBr0-zp7" class="SocialLinkBar">
        <li itemscope itemtype="http://schema.org/ImageObject" class="LinkBarItem">
          <a href="https://www.facebook.com/MO2-Academia-1628829134058480/?fref=ts">
        <img src="https://static.wixstatic.com/media/e316f544f9094143b9eac01f1f19e697.png" itemprop="contentURL" width="200" height="200"/>
    </a>
        </li>

      </ul>
      <div id="WRchTxt0-16wb" class="Text">
        <p class="font_9"><span class="color_16">© 2016&#xa0;by MO2 Academia with Odair Silva and Mateus Santos</span></p>

      </div>


    </div>

  </footer>



  <div class="adFootBox" style="background-color:black">
    <div class="adFootBox">
      <div class="siteBanner">
        <div class="siteBanner">
          <div class="wrapper">
            <div class="bigMusa">(Wix Logo)</div>
            <div class="txt shd" style="color:#fff">This site was created using </div>
            <div class="txt shd"><a href="http://www.wix.com?utm_campaign=vir_wixad_live&experiment_id=abtestbanner122400001" style="color:#fff"> WIX.com. </a></div>
            <div class="txt shd" style="color:#fff"> Create your own for FREE <span class="emphasis"> >></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>